{% extends "extend.html" %}
{% block title %}Demo{% endblock %}
{% block stylesheets %}
    <style>
      #stage {
        position: absolute;
        left: 0;
        top: 0;
        right: 200px;
        height: 100%;
      }

      

      #selectionArea {
        width: 100%;
      }
    </style>
{% endblock %}
{% block javascripts %}
    <script src="/lib/lodash/lodash.js"></script>
    <script src="/lib/jquery/jquery-2.1.4.min.js"></script>
    <script src="/lib/three/three.min.js"></script>
    <script src="/lib/three/stats.js"></script>
    <script src="/lib/three/controls/TrackballControls.js"></script>
    <script src="/lib/eventemitter/ee.js"></script>
    <script src="/lib/tweenjs/tween.min.js"></script>

    <script src="/data/4LDB.js"></script>

    <script src="/js/pdbv/util.js"></script>
    <script src="/js/pdbv/view.js"></script>
    <script src="/js/pdbv/view.selection.js"></script>
    <script src="/js/pdbv/view.slice.js"></script>
    <script src="/js/pdbv/view.center.js"></script>
    <script src="/js/pdbv/loader.js"></script>
    <script src="/js/pdbv/constant/atomRadius.js"></script>
    <script src="/js/pdbv/constant/elementCovalentRadius.js"></script>
    <script src="/js/pdbv/constant/elementColors.js"></script>
    <script src="/js/pdbv/constant/chainColors.js"></script>
    <script src="/js/pdbv/constant/aminoAcidColors.js"></script>
    <script src="/js/pdbv/constant/aminoAbbr.js"></script>
    <script src="/js/pdbv/gfx/virtualCamera.js"></script>
    <script src="/js/pdbv/gfx/triangle.js"></script>
    <script src="/js/pdbv/gfx/face.js"></script>
    <script src="/js/pdbv/gfx/stickGeometry.js"></script>
    <script src="/js/pdbv/gfx/sphereGeometry.js"></script>
    <script src="/js/pdbv/gfx/selectionBoxGeometry.js"></script>
    <script src="/js/pdbv/gfx/placeholder.js"></script>
    <script src="/js/pdbv/gfx/spherePlaceholder.js"></script>
    <script src="/js/pdbv/model/model.js"></script>
    <script src="/js/pdbv/model/spaceFill.js"></script>
    <script src="/js/pdbv/model/line.js"></script>
    <script src="/js/pdbv/model/ballAndStick.js"></script>
    <script src="/js/pdbv/model/cartoon.js"></script>
    <script src="/js/pdbv/coloring/byElement.js"></script>
    <script src="/js/pdbv/coloring/byChain.js"></script>
    <script src="/js/pdbv/coloring/byAminoAcid.js"></script>
    <script src="/js/pdbv/coloring/carbonByChain.js"></script>
    <script src="/js/pdbv/mol/atom.js"></script>
    <script src="/js/pdbv/mol/residue.js"></script>
    <script src="/js/pdbv/mol/chain.js"></script>
    <script src="/js/pdbv/mol/mol.js"></script>
    <script src="/js/pdbv/ui/atomContextMenu.js"></script>
    <script src="/js/pdbv/ui/selectionArea.js"></script>
    <script src="/socket.io/socket.io.js"></script>
{% endblock %}
{% block body %}
    <div id="stage"></div>
    <div id="control">
      <div class="control-group">
        <div class="control-group__title">Style</div>
        <div class="control-group__content">
          <select id="model">
            <option value="SpaceFill">space fill</option>
            <option value="BallAndStick">ball and stick</option>
            <option value="Line">line</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <div class="control-group__title">Selection</div>
        <div class="control-group__content" style="height: 500px; overflow: auto">
          <canvas id="selectionArea"></canvas>
        </div>
      </div>
    </div>
    <div id="atom_contextmenu" class="cm">
      <div class="cm-item">
        <div class="cm-item-text">atom<div class="cm-more"></div></div>
        <div class="cm-submenu">
          <div class="cm-item"><div class="cm-item-text cm-item-role" role="atom-center">center</div></div>
          <div class="cm-split"></div>
          <div class="cm-item"><div class="cm-item-text cm-item-role" role="atom-select">select</div></div>
          <div class="cm-item"><div class="cm-item-text cm-item-role" role="atom-unselect">unselect</div></div>
        </div>
      </div>
      <div class="cm-item">
        <div class="cm-item-text">residue<div class="cm-more"></div></div>
        <div class="cm-submenu">
          <div class="cm-item"><div class="cm-item-text cm-item-role" role="residue-center">center</div></div>
          <div class="cm-split"></div>
          <div class="cm-item"><div class="cm-item-text cm-item-role" role="residue-select">select</div></div>
          <div class="cm-item"><div class="cm-item-text cm-item-role" role="residue-unselect">unselect</div></div>
        </div>
      </div>
      <div class="cm-item">
        <div class="cm-item-text">chain<div class="cm-more"></div></div>
        <div class="cm-submenu">
          <div class="cm-item"><div class="cm-item-text cm-item-role" role="chain-center">center</div></div>
          <div class="cm-split"></div>
          <div class="cm-item"><div class="cm-item-text cm-item-role" role="chain-select">select</div></div>
          <div class="cm-item"><div class="cm-item-text cm-item-role" role="chain-unselect">unselect</div></div>
        </div>
      </div>
    </div>
    <script>
      var view = new PDBV.View($('#stage')[0]);
      view.start();

      PDBV.ui.atomContextMenu.attachView(view);
      PDBV.ui.selectionArea.attachView(view);

      var socket = io.connect();
      var initialized = false;
      var inStatusUpdateProgress = false;

      socket.on('initialize', function (data) {
        socket.uuid = data.uuid;
        if (data.status.loaded) {
          inStatusUpdateProgress = true;
        }
        var mol = PDBV.loader.load(data.status.pdb);
        view.load(mol, data.status);
        initialized = true;
        inStatusUpdateProgress = false;
      });

      // 收到服务端的状态更新通知
      socket.on('event/statusUpdated', function (data) {
        if (!initialized) {
          return;
        }
        inStatusUpdateProgress = true;
        if (data.scope === 'view') {
          view.onServerStatusUpdated(data.key, data.value);
        } else if (data.scope === 'controller') {

        }
        inStatusUpdateProgress = false;
      });

      /**
       * 给服务端发送消息通知其他客户端更新相关状态
       */
      var broadcastUpdateStatus = function (ev) {
        if (!initialized) {
          return;
        }
        socket.emit('action/updateStatus', ev);
      };

      // 监听各个事件
      var syncEvents = ['pdbChanged', 'controlsChanged', 'modelChanged', 'coloringChanged'];
      syncEvents.forEach(function (eventName) {
        // 每个事件 20ms 内只会触发一次 updateStatus
        var func = _.throttle(function (ev) {
          broadcastUpdateStatus(ev);
        }, 50);
        view.addListener(eventName, function (data, scope) {
          if (inStatusUpdateProgress === true) {
            return;
          }
          func({
            key: eventName,
            scope: scope,
            value: data
          });
        });
      });

      // 切换 model
      $('#model').change(function () {
        var model = this.value;
        view.useModel(model);
        view.render();
      });

    </script>
{% endblock %}
