// 链接颜色、文字颜色等
$bg-color = #303133
$primary-color = #53A0D4
$text-color = #C4C4C4
$header-color = #FFF
$blockquote-color = #B8B8B8
$small-color = #BABABA

// 字体等
$primary-font-family = "PingFang SC", "Lucida Grande", "Hiragino Sans GB", "Lantinghei SC", "Microsoft Yahei", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans"
$header-font-family = "PingFang SC", "Lucida Grande", "Segoe UI", "Verdana", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans-serif"

$v-primary-color = #007EEF
