@css {

#ohsnap {
  position: fixed;
  bottom: 5px;
  right: 5px;
  margin-left: 5px;
  z-index: 99999;
}

.alert {
  padding: 5px 15px;
  margin-top: 10px;
  border-radius: 2px;
  float: right;
  clear: right;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(#000, 0.7);
}

.alert-red {
  color: white;
  background-color: #DA4453;
}
.alert-green {
  color: white;
  background-color: #37BC9B;
}
.alert-blue {
  color: white;
  background-color: #4A89DC;
}
.alert-yellow {
  color: white;
  background-color: #F6BB42;
}
.alert-orange {
  color:white;
  background-color: #E9573F;
}

}
