@css {

*,
*:before,
*:after {
  *behavior: url("js/vendor/boxsizing.htc");
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, figure, fieldset {
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
img,
video,
audio,
embed,
object,
input,
iframe {
  max-width: 100%;
}

}
