.structure-page
  margin-left: 300px

.structure--sidebar
  position: fixed
  left: 0
  top: 0
  width: 300px
  padding: 10px
  height: 100%
  border-right: 1px solid $primary-color
  
  #file
    font-size: 12px
    display: inline

.structure--main
  h3
    margin: 10px

.structure-item
  border-top: 1px solid $primary-color
  padding: 10px
  
  &:hover
    background: #000
  
.structure-item-title
  color: #FFF
  font-size: 16px

.structure-item-extra
  font-size: 13px
  
.structure-item-upload-at
  float: left

.structure-item-view
  float: right
