#control
  position: absolute
  right: 0
  top: 0
  width: 200px
  height: 100%
  background: #444

.control-group__title
  padding: 3px 5px
  font-size: 10px
  background: $v-primary-color
  color: #FFF

.control-group__content
  position: relative
  padding: 5px

.control-group
  margin-bottom: 10px
