.cm
  position: absolute
  background: #000
  border: 1px solid $v-primary-color
  display: none
  left: 0
  top: 0
  user-select: none

.cm-item-text
  font-size: 12px
  color: #FFF
  width: 150px
  line-height: 30px
  padding: 0 10px

.cm-item
  position: relative

.cm-item:hover > .cm-item-text
  background: $v-primary-color

.cm-more
  position: absolute
  right: 10px
  width: 6px
  height: 6px
  background: #FFF
  border-radius: 50%
  margin-top: -3px
  top: 50%

.cm-submenu
  display: none
  position: absolute
  border: 1px solid $v-primary-color
  background: #000
  left: 150px
  top: -1px

.cm-split
  height: 1px
  background: $v-primary-color
  margin: 0 10px

.cm-item:hover > .cm-submenu
  display: block

