#stage
  position: absolute
  left: 0
  top: 0
  right: 200px
  height: 100%

#selectionArea
  width: 100%

#control
  position: absolute
  right: 0
  top: 0
  width: 200px
  height: 100%
  overflow: auto

.control-group__title
  padding: 3px 5px
  font-size: 10px
  background: $v-primary-color
  color: #FFF

.control-group__content
  position: relative
  padding: 5px
  font-size: 12px
  
  input, select
    font-size: 12px

.control-group
  margin-bottom: 10px
